@mixin centered($top, $left) {
  top: $top;
  left: $left;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin ease-in-opacity() {
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: 0 auto;
  text-align: center;
  max-width: 1200px;
}

.thumbnail {
  cursor: pointer;
  margin: 25px;
  background-color: #333;
  height: 150px;
  width: 150px;

  -webkit-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;

  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.thumbnail:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  transform: scale(1.5);
}

.overlay {
  background-color: #000;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 10;
}

.overlay-image-wrapper {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 11;
}

.overlay-image {
  @include centered(50%, 50%);
  @include ease-in-opacity();
  position: fixed;
}

.overlay-image-placeholder {
  @include centered(50%, 50%);
  @include ease-in-opacity();

  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);

  height: 700px;
  position: fixed;
  width: 1024px;
}

.overlay-image-title {
  bottom: 25px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
}

.previous {
  @include centered(50%, 10%);
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid #fff;
  cursor: pointer;
  height: 0;
  opacity: 0.5;
  position: fixed;
  width: 0;
  z-index: 12;
}

.next {
  @include centered(50%, 90%);
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #fff;

  cursor: pointer;
  height: 0;
  opacity: 0.5;
  position: fixed;
  width: 0;
  z-index: 12;
}

.prev:hover, .next:hover {
  opacity: 0.8;
}

.close {
  @include centered(5%, 95%);
  background: #333;
  cursor: pointer;
  height: 0;
  position: fixed;
  font-size: 2em;
  width: 0;
  z-index: 12;
}

.circle {
  background-color: #333;
  border-radius: 50%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
}

.hide {
  display: none;
}

.full-opacity {
  opacity: 1;
}

.no-opacity {
  opacity: 0;
}

