/* line 17, scss/styles.scss */
body {
  background-color: #000;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

/* line 23, scss/styles.scss */
.container {
  margin: 0 auto;
  text-align: center;
  max-width: 1200px;
}

/* line 29, scss/styles.scss */
.thumbnail {
  cursor: pointer;
  margin: 25px;
  background-color: #333;
  height: 150px;
  width: 150px;
  -webkit-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

/* line 47, scss/styles.scss */
.thumbnail:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  transform: scale(1.5);
}

/* line 54, scss/styles.scss */
.overlay {
  background-color: #000;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 10;
}

/* line 65, scss/styles.scss */
.overlay-image-wrapper {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 11;
}

/* line 72, scss/styles.scss */
.overlay-image {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  position: fixed;
}

/* line 78, scss/styles.scss */
.overlay-image-placeholder {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  height: 700px;
  position: fixed;
  width: 1024px;
}

/* line 93, scss/styles.scss */
.overlay-image-title {
  bottom: 25px;
  font-size: 1.5em;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
}

/* line 103, scss/styles.scss */
.previous {
  top: 50%;
  left: 10%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid #fff;
  cursor: pointer;
  height: 0;
  opacity: 0.5;
  position: fixed;
  width: 0;
  z-index: 12;
}

/* line 116, scss/styles.scss */
.next {
  top: 50%;
  left: 90%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #fff;
  cursor: pointer;
  height: 0;
  opacity: 0.5;
  position: fixed;
  width: 0;
  z-index: 12;
}

/* line 130, scss/styles.scss */
.prev:hover, .next:hover {
  opacity: 0.8;
}

/* line 134, scss/styles.scss */
.close {
  top: 5%;
  left: 95%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #333;
  cursor: pointer;
  height: 0;
  position: fixed;
  font-size: 2em;
  width: 0;
  z-index: 12;
}

/* line 145, scss/styles.scss */
.circle {
  background-color: #333;
  border-radius: 50%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
}

/* line 154, scss/styles.scss */
.hide {
  display: none;
}

/* line 158, scss/styles.scss */
.full-opacity {
  opacity: 1;
}

/* line 162, scss/styles.scss */
.no-opacity {
  opacity: 0;
}

@media screen and (max-width: 680px) {
  /* line 167, scss/styles.scss */
  .overlay-image-title {
    font-size: 1em;
  }
}
